.sub-title {
  font-size: 120%;
  text-align: left;
}

.options {
  text-align: left;
}

.option-title {
  cursor: pointer;
  font-size: 110%;
  font-weight: bold;
}

.disabled {
  color: rgb(87, 87, 87);
}
