.my-draggable {
  position: absolute;
  z-index: 10;

  width: 250;

  padding: 20px;

  border-radius: 15px;

  background-color: rgb(24, 24, 24);
  opacity: 0.9;

  color: #fff;
  cursor: pointer;
}
